<div class="row">
    <div class="span5" id="mcards1">
        <div ng-repeat="board in viewmodel.cardboards">
            <div class="well" ng-if="board.cards.length > 0">
                <p><small>{{ board.name }}</small></p>
                <div ng-repeat="card in board.cards">
                    <div align="left span5">
                        <small>
                        <table>
                            <tr>
                                 <td>
                                     <a href=" {{ '#/card/' + card.id }}" ng-click="navclick('card', card)">{{ card.name }} (<i>{{ card.list }}</i>)</a>     
                                 </td>
                            </tr>
                        </table>
                        </small>
                    </div>    
                </div>                
            </div>
        </div>
    </div>
</div>